<?xml version="1.0" encoding="utf-8" ?>
<Advertisements xmlns="http://schemas.microsoft.com/AspNet/AdRotator-Advertisement-File-1.2">
  <Ad xmlns="">
    <Keyword>Listing</Keyword>
    <ImageUrl>~/images/banner[350_50].GIF</ImageUrl>
    <NavigateUrl>http://www.apnerdeal.com/Default.aspx</NavigateUrl>
    <AlternateText>Ad for ApnerDeal.com Web site</AlternateText>
    <Impressions>1</Impressions>
  </Ad>
  <!--Ad xmlns="">
    <Keyword>Bdhit</Keyword>
    <ImageUrl>~/images/logo_V1.gif</ImageUrl>
    <NavigateUrl>http://www.google.com/</NavigateUrl>
    <AlternateText>Ad for ApnerDeal.com Web site</AlternateText>
    <Impressions>3</Impressions>
  </Ad-->

</Advertisements>
